<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col" *ngFor="let genre of (genres | async)">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{genre.name}}</h5>
                        <p class="card-text">{{genre.description}}</p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-warning btn-sm" [routerLink]="['/genre/edit', genre.id]" *ngIf='isAdmin'>Edit</button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteGenre(genre.id)"  *ngIf='isAdmin'>Delete</button>    
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button type="button" class="btn btn-success" [routerLink]="['/genre/add']" *ngIf='isAdmin'>Add new genre</button>
            </div>
        </div>
    </div>
</div>