
<div class="bg-white mb-4">
<div class="buttons_block">
  <button type="button" class="btn btn-danger" (click) = 'deleteAlbum()' *ngIf='isAdmin'>Delete</button>
  <button type="button" class="btn buttons btn-warning" [routerLink]="['/album/edit', album.id]" *ngIf='isAdmin'>Edit</button>
</div>
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <main>
      <p>Name</p>  
      <h3>{{album.name}}</h3>
      <hr class="col-3 col-md-2 mb-5">
        
      <p>Released</p>  
      <h3>{{album.released | date}}</h3>
      <hr class="col-3 col-md-2 mb-5">
      
      <p>Length</p>  
      <h3>{{album.length}}</h3>
      <hr class="col-3 col-md-2 mb-5">

      <p>Songs</p> 
      <div class="genre">
        <ul>
          <li *ngFor="let song of (album.songs)">{{song.name}}</li>
        </ul>
        <h3 *ngIf="album.songs.length == 0">None</h3>
      </div> 
      <hr class="col-3 col-md-2 mb-5">

      <p>Genres</p>  
      <div class="genre">
        <ul>
          <li *ngFor="let genre of (album.genres)">{{genre.name}}</li>
        </ul>
        <h3 *ngIf="album.genres.length == 0">None</h3>
      </div>
      <hr class="col-3 col-md-2 mb-5">

      <p>Group</p>  
      <h3>{{group.name}}</h3>
      <hr class="col-3 col-md-2 mb-5">


    </main>
</div>
</div>
